<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose</title>
    <style>
        .bold{
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <div>当前在线人数：<span class="bold" id="active-num"></span></div>
    <div><span class="bold" id="username"><%=username%></span>已经成功登录</div>
    <script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js"></script>
    <script>
        let username = document.querySelector('#username').innerText;
        var socket = io('http://localhost:8080');
        socket.on('connect',()=>{
            //默认的连接事件
            console.log('登录成功');

            //连接后触发更新代码
            socket.emit('login',{
                username:username
            });
        })
        socket.on('disconnect',()=>{
            //默认的断开连接事件，这里用了关闭服务器测试可以触发的
            console.log('断开链接');
        })
        //有人登录，同步在线人数，data应该传的是在线的用户数据数组
        socket.on('online',data=>{
            //同步在线人数
            document.getElementById('active-num').innerText = Object.keys(data).length;
        })



        //在这边其实要写很多关于socket的代码的
    </script>
</body>
</html>