<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose</title>
    <style>
        .bold{
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <div>当前在线人数：<span class="bold" id="active-num"></span></div>
    <div><span class="bold" id="username"><%=username%></span>已经成功登录</div>
    <script src="https://cdn.bootcss.com/socket.io/2.2.0/socket.io.js"></script>
    <script src="/socket.js"></script>
</body>
</html>